<header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">ReadMore!</a></h1>
        <div class="user_nav grid-6">
          <%= link_to '投稿する', new_book_path, class: "post" %>
        </div>
      </div>
</header>
<div class=each>↓投稿一覧↓</div>
<div class="contents row">
  <% @books.each do |book| %>
    <div class="book">
      <div class="book-title">
        『<%= link_to book.title, book_path(book.id) %>』
      </div>
      <%= image_tag book.image.variant(resize: '500x500'), class: 'book-image' if book.image.attached? %>
      <div class="book-category">
        ジャンル：<%= book.category.name %>
      </div>
    </div>
  <% end %>
</div>
